---
import Footer from "../components/Footer.astro";
const { frontmatter } = Astro.props;
---
<meta charset="UTF-8">
<h1>{frontmatter.title}</h1>
<p>{frontmatter.pubDate.slice(0, 10)}</p>
<p><b>{frontmatter.description}</b></p>
<p>著者: {frontmatter.author}</p>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
<slot />
<Footer />